.rowContainer {
  margin-top: 15px !important;
}
.studyTitle {
  font-weight: 300;
  font-size: 42px;
  line-height: 63px;
}
.bold {
  font-weight: bold;
}
.rightServices {
  margin-top: 50px !important;
}
.rightImg {
  height: 503px;
  /* margin-top: 50px; */
}
.courseInput {
  height: 50px;
  color: gray;
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
.bdr {
  border: 2px solid #f47f20;
}
.myCard {
  border: 0px !important;
  height: 150px;
  text-align: center;
}
.myCard img {
  height: 80px;
}
.myCard:hover {
  background-color: bisque !important;
  cursor: pointer;
}
.userArea {
  padding: 20px;
}
.courseContainer {
  background-color: #fff;
  margin-top: -290px !important;
  border-radius: 10px;
}
.rightCard {
  height: 150px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
.rightContainer {
  margin-top: -67px !important;
}
